<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
  <p>You recieved contact form below.<p>
  <P>name:<%= @contact.name %></p>
  <p>email:<%= @contact.email %></p>
  <p>age:<%= @contact.age %></p>
  <p>content:<%= @contact.content %></p>
  </body>
</html>
